<div class="footer1">
	<div class="logo_F w-20  "><img src="{{ asset('build/images/plumberie-logo-removebg-preview.png')}}">
    </div>

	<div class=" Qui_somme_nous text-lg text-white hover:text-tahiti-500" href="#">Qui somme nous ?<br>
		<div class=" Demandeurs_demploi text-lg text-white hover:text-tahiti-500" href="#">Nos Articles<br></div>
		<div class=" Nos_vidéos text-lg text-white hover:text-tahiti-500" href="#">Nos Engagements<br></div>
		<div class=" Contactez-nous text-lg text-white hover:text-tahiti-500" href="#">Contactez-nous<br></div>
	</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
