{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_class 'page-content'%}

{% block body_title %}

{% endblock %}

{% block content_title %}{{ block('page_title')}}
   <p class="text-base font-light "  >
        <a class="text-base text-dark font-thin" href="{{ path('app_index') }}" >Retour</a>
    </p>
{% endblock %}

{% block main %}{{ block('page_content')}}
 {{ parent() }}
{% endblock %}