@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* c'est pour les textes */
.librebaskerville {
  font-family: 'Libre Baskerville', 'DM Serif Display', serif;
}

/* c'est pour les titres */
.opensauce {
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 20px;
  padding: 0;
  margin: auto;
}

.body {
  font-family: ' Libre Baskerville', 'Open Sauce Light', sans-serif;
  background-color: #f8f8f8;
}



h1 {
  font-family: 'Libre Baskerville', 'DM Serif Display', serif;
}

.boutte_group11 {
  width: 100%;

  height: 119px;
  align-content: flex-start;
  display: flex;
}

.contenu_corp {
  width: 100%;
  height: 100px;
  border: green solid 2px;
}

.ensemble_form {
  width: 20%;
  padding: 15px 50px 33px 50px;
  border: solid darkgrey 1px;
  margin-top: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 235, 205, 0.47) 100%);
}



.d-blockw-100 {
  width: 68%;
  height: 600px;
  margin-left: 117px;
}

.carousel-control-next {
  color: black;
}

.d-block {
  width: 91%;
  height: 165px;
  /* margin-left: 123px; */
  margin-bottom: 10px;
}

.ensemble_caroussel {
  /* border: solid green 1px; */
  background-color: #e0ccad33;
  width: 87%;
  height: auto;
}

.ensemble_article {
  width: 66%;
  height: auto;
  margin-top: 30px;
  /* margin-bottom: 30px; */
}

.Qui_somme_nous {
  width: 29%;
  display: flex;
  height: 144px;
  align-items: center;
}

.Qui_sommenous_haut {
  width: 100%;
  height: auto;
  display: flex;
  padding-right: 100px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.ensemble_article2 {
  /* border: solid red 1px; */
  background-color: #FFFFFF;
  width: 87%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgb(255 235 205 / 18%) 50%, rgb(255 235 205 / 33%) 100%);
}

.card.mb-3 {
  width: 86%;
  padding: 39px 394px 15px 420px;
  margin-left: 100px;
}

.logo_artisan {
  width: 33%;
  height: 70px;
}

.conception_fr {
  width: 69%;
  height: auto;
  text-align: center;
}

.tout_nos_douche {
  /* border: solid red 1px; */
  width: 100%;
  height: auto;
  display: flex;
  padding-left: 20px;
  margin-bottom: 55px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, rgb(255 235 205 / 5%) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.photos_douche {
  
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
  border-radius: 3px;
}

.container_images {
  width: 100%;
  height: 436px;
  /* border: solid black 4px; */
}
.div {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 500px 0;
  border-radius: 7px;
  margin-left: 20%;
}


.description_douche {
  /* border: solid black 1px; */
  width: 35%;
  margin-right: 193px;
  /* height: 140px; */
  display: flex;
  /* margin-bottom: 158px; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.titre_produit_douche .h1 {
  border: solid rgb(18, 193, 209) 1px;
  width: 90%;
  height: 43px;
  font-family: "DM Serif Display", serif;
}

.text_descript_douche {
  /* border: solid rgb(18, 201, 42) 1px; */
  width: 68%;
  height: 90px;
  margin-right: 174px;
}

.contenaire_blanc {
  width: 47%;
  height: auto;
  /* border: solid black 1px; */
  padding: 3px 3px 3px 3px;
  margin-bottom: 61px;
}

.decouvrez_texte {
  /* border: solid rgb(0, 255, 55) 1px; */
  width: 10%;
  padding-top: 20px;
  height: auto;
}


.NosExemple {
  width: 17%;
  height: 40px;
  background-color: #e0ccad54;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  padding-bottom: 8px;
  border: solid black 1px;
  flex-wrap: nowrap;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
}

.NosExemple_texte .h2 {
  width: 50%;
  height: 90px;
  border: solid rgb(119, 46, 84) 1px;
}

.container {
  flex-direction: column;
}
.box_slide_article_lien {
  display: flex;
  /* flex-direction: row-reverse; */
  /* height: 415px; */
  width: 85%;
  padding-bottom: 15px;
}
.slides-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.card-width {
  width: 23%;
  /* border:solid rgb(244, 17, 17) 1px; */
}
.card-height {
  height: 410px;
  /* border:solid white 1px; */
}
.card-title {
  height: 50px;
  /* margin-top: 71px; */
  width: 100%;
  /* border: solid green 1px; */
}
.slides-container{
  width: 90%;
  height: 410px;
  /* border:solid violet 1px */
}
/* .card-bo{
  width: 100%;
  border:solid rgb(237, 236, 235) 1px;
}  */

.containerslider_article {
  /* border: solid red 1px; */
  margin-top: 47px;
  width: 70%;
  height: 500px;
}
.containerdescription_article {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  margin-top: 130px;
  width: 17%;
}
.descript_decouvrez {
  width: 90%;
  height: 100px;
  display: flex;
  /* border: solid red 1px; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.ensemble_article_detail {
  width: 91%;
  /* margin-top: 20px; */
  display: flex;
  background-color: #e0ccad54;
  flex-wrap: nowrap;
}

.container_info_article {
  background-color: #fff;
  width: 37%;
  height: auto;
}

.container_slider_detail {
  width: 60%;
}

.container_infos_1 {
  width: 53%;
  padding-top: 30px;
  margin-top: 50px;
  height: 100px;
}

.container_infos_2 {
  width: 53%;
  margin-top: 20px;
  height: 210px;
}

.titre_lesplus {
  height: 48px;
  padding-top: 8px;
  width: 100%;
}

.titre_lesplus2 {
  height: 162px;
  width: 100%;
}
.container_infos_3 {
  width: 53%;
  margin-top: 20px;
  height: 153px;
}

.trai_droit {
  width: 1%;
  position: absolute;
  margin-left: 121px;
  border: solid black 1px;
}

.image-container {
  overflow: hidden;
}

.zoomable-image {
  transition: transform 0.3s;
}

.zoomable-image:hover {
  transform: scale(1.2);
}

.widg {
  position: right;
  display: flex;
  margin-left: 163px;
}

.btn-secondary {
  margin-left: 400px;
}

.corp_produit {
  width: 37%;
  border: solid grey 1px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: white;
}

.corp_produit2 {
  width: 50%;
  border: solid grey 1px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: white;
}

.btn.btn-dark {
  margin-top: 10px;
  width: 45%;
  height: 30px;
  color: white;
  margin-left: 51px;
  padding: 3px 3px 3px 3px;
}

.descript {
  width: 34%;
  height: 507px;
  margin-right: 194px;
  margin-top: 122px;
  box-shadow: 2px 3px 2px 3px rgb(0 0 0 / 21%);
}

.card-title {
  text-align: center;
  margin-bottom: var(--bs-card-title-spacer-y);
}

.card-title1 {
  text-align: center;
  margin-bottom: var(--bs-card-title-spacer-y);
  margin-top: 10px;
  font-size: 27px;
}

.card-subtitle {
  margin-top: calc(-.5 * var(--bs-card-title-spacer-y));
  margin-bottom: 0;
  text-align: center;
}

.card-subtitle1 {
  margin-top: calc(-.5 * var(--bs-card-title-spacer-y));
  margin-bottom: 0;
  text-align: center;
}

.produit_plus_vendu.titreVendu .example-wrapper {
  margin: 1em auto;
  max-width: 100%;
  width: 95%;
  font: 18px/1.5 sans-serif;
  display: flex;
}

.images_produit img {
  width: 88%;
  margin-top: 18px;
  margin-left: 11px;

  border-radius: 20px;
}

.images_produit1 img {
  width: 80%;
  margin-top: 18px;
  margin-left: 11px;

  border-radius: 20px;
}

.images_produit2 img {
  width: 57%;
  margin-top: 33px;
  margin-left: 49px;

  border-radius: 20px;
}

.descriptifarticle {
  width: 50%;
  text-align: left;
  margin-left: 167px;
  margin-top: 23px;
}

.titre_produit {
  text-align: center;
  margin-bottom: -51px;
  font-size: 16px;
}

.titre_produit:hover {
  text-align: center;
  margin-bottom: -51px;
  font-size: 16px;
  color: red;
}

.titre_produit1 {
  /* text-align: center; */
  margin-bottom: -51px;
  font-size: 34px;
  margin-top: 23px;
  margin-left: 20px;
}

.titre_produit1:hover {
  /* text-align: center; */
  margin-bottom: -51px;
  font-size: 34px;
  margin-top: 23px;
  margin-left: 20px;
  color: red;
}

.description_produit {
  text-align: center;
  margin-bottom: 10px;
}

.description_produit1 {
  /* text-align: center; */
  margin-top: 85px;
  margin-bottom: 10px;
  font-size: 19px;
  padding: 10px 14px 11px 14px;
}

.solde {
  width: 20%;
  margin-top: 22px;
  display: flex;
}

.prix_produit {
  text-align: right;
  margin-right: 5px;
  font-size: 24px;
  margin-bottom: 20px;
}

.prix_produit:hover {
  text-align: right;
  margin-right: 10px;
  font-size: 40px;
  color: red;
}

.prix_produit2 {
  text-align: right;
  margin-right: 10px;
  font-size: 40px;
}


.prix_produit2:hover {
  text-align: right;
  margin-right: 10px;
  font-size: 40px;
  color: red;
}

.caroussel_article {
  margin-top: 30px;
  border: green solid 2px;
  width: 100%;
  height: 400px;
}

.name_conect {
  margin-right: 20px;
  color: red;
}

.descriptif {
  width: 33%;
  height: 200Px;
  margin-top: 103px;
  margin-left: 63px;
  border: 1px solid grey;
  border-radius: 20px;
}


.descriptif1 {
  width: 38%;
  height: 433Px;
  margin-top: 300px;
  margin-left: 63px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 3px 3px 2px 1px rgb(11 11 12 / 17%);
}

.detail {
  margin-left: 28px;
  margin-top: 14px;
  font-size: 20px;
  text-decoration: bold;
  -webkit-text-stroke: thin;
}

.container_essentiel {
  width: 91%;
  height: 441px;
  display: flex;
}

.trai_droit_article {
  width: 3%;
  position: absolute;
  /* margin-left: 0px; */
  margin-top: 60px;
  margin-left: 34px;
  border: solid black 1px;
}
.trai_cara{
  width: 5%;
  /* position: absolute; */
  margin-left: 597px;
  margin-top: -63px;
  border: solid black 1px;
}

.trai_droit_article_desc {
  width: 5%;
  /* position: absolute; */
  margin-left: 597px;
  margin-top: -63px;
  border: solid black 1px;
}
.titre_esentiel {
  height: 57px;
  width: 63%;
  margin-top: 27px;
  /* border: solid orange 1px; */
}

.blok_text_essenssiel {
  width: 99%;
  display: flex;
  margin-top: 49px;
  margin-bottom: 20px;
  height: 57px;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: center;
}
.blok_text_essenssiel2 {
  /* border: solid green 1px; */
  width: 47%;
  height: 261px;
  margin-top: 50px;
  margin-left: 175px;
}

.container1_essentiel {
  width: 50%;
  height: 439px;
  /* border: solid rgb(0, 0, 255) 1px; */
}

.container2_essentiel {
  display: flex;
  height: 341px;
  width: 50%;
}

.bg_1 {
  /* border: solid violet 1px; */
  width: 100%;
  background-color: #e0ccad33;
  height: inherit;
}
/* .bg_2 {
  width: 35%;
  height: 152px;
  background-color: #e0ccad33;
  margin-left: 263px;
} */
.bg_1droite {
  width: 100%;
  background-color: #e0ccad33;
  height: 219px;
  margin-top: 222px;
}

.contenaire_article_description {
  /* border: solid red 1px; */
  width: 91%;
  height: auto;
  margin-top: 40px;
  display: flex;
}
.container_desc_1 {
  /* border: solid blue 1px; */
  height: 887px;
  width: 84%;
}

.description_art1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 63px;
  /* margin-left: 6px; */
  width: 106%;
}
.description_art2 {
  background-color: #e0ccad33;
  height: auto;
  margin-top: 20px;
  width: 100%;
  position: relative;
  padding-top: 150px;
}
.trai_droit_article_desc2 {
  width: 4%;
  /* position: absolute; */
  margin-left: 479px;
  margin-top: -49px;
  border: solid black 1px;
}

.description_art_1 {
  width: 91%;
  height: 113px;
  /* border: solid green 1px; */
  display: flex;
  /* margin-left: 24px; */
  flex-direction: column;
  flex-wrap: nowrap;
}

.container_desc_2 {
  /* border: solid blue 1px; */
  width: 93%;
  height: auto;
}

.titre_description {
  /* border: solid red 1px; */
  width: 51%;
  margin-top: 10px;
  height: 57px;
}



.titre_description2 {
  border-bottom: solid black 1px;
  width: 100%;
  margin-top: 84px;
  height: 80px;
}
.text_desc_article2 {
  /* border: solid rgb(235, 13, 217) 1px; */
  width: 56%;
  margin-top: 23px;
  height: auto;
}
.bg_2droite {

  width: 100%;
  height: 439px;
  background-image: linear-gradient(to bottom, white 50%, #e0ccad33 50%);
  /* background-color: #e0ccad33; */
  /* margin-right: 253px; */
}
.caracteristique_technique {
  /* border: solid #00000042 1px; */
  width: 62%;
  margin-top: 100px;
  /* padding: 10px; */
  height: auto;
}



.ensemble_produit {
  width: 94%;
  height: 600px;
  display: flex;
  margin-left: 63px;
  /* border: 1px solid grey; */
  border-radius: 20px;
}

.btn-outline-success {
  color: grey;
  border-color: grey;
}

.titreVendu h1 {
  color: black;
  margin-bottom: 56px;
}

.barrerecherche {
  width: 67%;
  display: flex;
  margin-bottom: 30px;
  margin-left: 509px;
}

.footer1 {
  width: 100%;
  /* border: 1px solid red; */
  height: 312px;
  margin-top: 60px;
  background-color: black;
}


a .redirect {
  text-align: center;
}

* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides img {
  width: 100%;
  height: 700px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;

  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.article_corp {
  width: 20%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 8.5s;

}


.pagination {
  --bs-pagination-color: #161616;
  --bs-pagination-hover-color: #8b2531;
  --bs-pagination-active-bg: #8b2531;
  --bs-pagination-active-border-color: #8b2531;
}

.carousel-item img {
  width: 200px;
  height: 770px;
}

.produit_plus_vendu {
  width: 100%;
  height: auto;
  display: flex;
  /* border: 1px red solid; */
  background-color: #ebebeb94;
}

.mb-3 {
  margin-left: 50px;
}

.ensemblecard {

  margin-left: 50px;
}

.voirarticle {
  color: #dee2e6;
  background-color: black;

}

.tourecherche {
  display: flex;
  flex-direction: row;
  width: 33%;
  /* margin-left: 91px; */
}

.div_placeholder {
  width: auto;
  height: auto;
  text-align: right;
  border: solid black 1px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.div11 {
  width: auto;
  height: auto;
  text-align: right;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.div2 {
  width: 50%;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.ligne_top {
  height: 100px;
  padding-top: 5vh;
}

.hauteur {
  height: 115px;
}

.rerchearticle2 {
  border: 1px solid red;
  width: 100%;
  display: flex;
  height: 1681px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}


.container_jp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.titre_nom_entreprise1 {
  /* border: solid red 1px; */
  width: 24%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.nom_entreprise {
  /* border: solid rgb(47, 0, 255) 1px; */
  width: 86%;
  height: 55px;
  padding-top: 13px;
  /* padding-left: 3px; */
}

.logo_entreprise {
  /* border: solid green 1px; */
  /* width: 10%; */
  height: 64px;
}
.card-1 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  display: inline-block;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  margin: 1rem;
  position: relative;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  /* width: 16%; */
}
.container-indication{
  border:solid red 1px;
  width: 20%;
  height: 34px;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* .image_jp {
  margin-top: 10px;
} */

.image_jp img {
  width: auto;
  /* margin-left: 45px; */
  border-radius: 8px;
}

/* .titre_produit_jp {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
} */

/* .prix_produit_jp {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
} */

.voir_article_jp {
  display: flex;
}

.carousel {
  position: relative;
  height: 1300px;
  overflow: hidden;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.slides li {
  width: 100%;
}

.carousel-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-nav button {
  background: transparent;
  border: none;
  font-size: 2em;
  color: white;
}

.carousel-nav button {
  background: transparent;
  border: none;
  font-size: 4em;
  color: white;
}

.prevp {
  margin-right: 1em;

}

.prevp:hover {
  margin-right: 1em;
  color: red;
}

.nextm {
  margin-left: 1em;
}

.nextm:hover {
  margin-left: 1em;
  color: red;
}

.group_complet {

  color: black;
}

.container_bande {
  width: 100%;
  height: 77px;
  margin-top: 50px;
  background-color: #FFFFFF;
}
.container_bande2 {
  width: 87%;
  height: 55px;
  margin-top: 68px;
  background-color: rgb(255, 255, 255);
  display: flex;
  /* border: solid 1px black; */
}

.bandeau_categorie {
  /* border: solid red 1px; */
  width: 80%;
  height: 180px;
  background-color: #e0ccad33;
}

.bandeau_categorie1 {
  /* border: solid rgb(25, 99, 189) 1px; */
  width: 38%;
  display: flex;
  height: 84px;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  align-items: center;
}
.bandeau_categorie_article {
  /* border: solid rgb(25, 99, 189) 1px; */
  width: 100%;
  display: flex;
  height: auto;
  padding-left: 233px;
  flex-wrap: wrap;
  align-items: center;
}



.container_vide_right {
  /* border: solid rgb(25, 99, 189) 1px; */
  width: 38%;
  height: 106px;
}
.ensemble_titre_container_vide {
  /* border: solid red 1px; */
  width: 80%;
  height: auto;
  margin-left: 187px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.ensemble_titre_container_vide2 {
  /* border: solid red 1px; */
  background-color: #e0ccad33;
  width: 80%;
  height: auto;
  margin-left: 190px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.ensemble_titre_container_vide3 {
  /* border: solid red 1px; */
  width: 80%;
  height: auto;
  margin-left: 187px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.titre_cat {
  /* border: solid violet 1px; */
  width: 92%;
  height: 78px;
  margin-right: -161px;
}

.container_vector_image {
  /* border: solid rgb(130, 238, 134) 1px; */
  width: 34%;
  height: auto;
  margin-left: 100px;
}
/* .lien_1 {
  width: 8%;
  padding-left: 6px;
  height: 24px;
  border-right: solid black 2px;
}

.lien_2 {
  width: 7%;
  padding-left: 5px;
  height: 24px;
  border-right: solid black 2px;
}

.lien_3 {
  width: 15%;
  height: 24px;
  /* border-right: solid black 2px; */


/* .lien{
  width: 33%;
  height: 48px;

} */ 

.bande_lien_encre {

  height: 70px;
  margin-top: 60px;
  width: 91%;
  display: flex;
  background-color: #e0ccad54;
  justify-content: center;
  align-items: center;
}

.container_bande3 {
  width: 100%;
  height: 100px;
  background-color: gray;

}