{# templates/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Les 10 articles les plus vendus{% endblock %}

{% block body %}
    <h1>Les 10 articles les plus vendus</h1>

    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantité vendue</th>
            </tr>
        </thead>
        <tbody>
            {% for article in getBestSellingArticles %}
                <tr>
                    <td>{{ article[0].getTitle() }}</td>
                    <td>{{ article['totalQuantity'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
