{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
<div class="ensemble_form">
 <h1 class="h3 mb-2 mt-3 text-center font-weight-normal">Inscription</h1>

{{form(form)}}
{% for message in app.flashes('success') %}
<div class="alert alert-success mt-4">
{{ message }}
</div>
{% endfor %}

</div>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfwSiImAAAAANrrpXNh5_y5gLSSWIAstMxRK4bb"></script>
<script>
   grecaptcha.ready(function() {
    grecaptcha.execute('6LfwSiImAAAAANrrpXNh5_y5gLSSWIAstMxRK4bb', {action: 'homepage'}).then(function(token) {
        document.getElementById('recaptchaResponse').value = token
   
    });
});
</script>
		<script src="./assets/js/app.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
	<script src="https://cdn.tailwindcss.com/3.3.0"></script>
{% endblock %}
